html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

html, body {
  font-family: Tahoma, sans-serif;
  color: #333333;
  font-size: 14px;
}

a {
  color: inherit;
  text-decoration: inherit;
  cursor: inherit;
  color: white;
  font-size: 18px;
}
a:active, a:focus {
  outline: none;
}

h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  position: absolute;
  top: 85px;
}

#wrapper {
  width: 960px;
  margin: 0 auto;
}

.clear {
  clear: both;
}

#archive > ul {
  display: block;
  position: relative;
  left: 760px;
}
#archive > ul li {
  float: left;
  margin-right: 10px;
}
#archive > ul li a {
  color: #333333;
  font-size: 10px;
}

#nav ul {
  height: 60px;
  background-image: url("./images/topnav_divider.png");
  background-repeat: repeat-x;
  padding-left: 40px;
}
#nav ul li {
  display: inline-block;
  padding: 20px;
}
#nav ul li:first-letter {
  text-transform: uppercase;
}

header h1 {
  color: white;
  font-size: 28px;
  font-weight: bold;
  float: right;
  display: inline;
  position: relative;
  top: -45px;
  padding: 0 10px;
}

article {
  margin-top: 10px;
  text-align: justify;
}
