html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

#wrapper {
  font: 16px Arial, "DejaVu Sans", "Liberation Sans", Freesans, sans-serif;
  width: 960px;
}

ul {
  width: 250px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}

li {
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: #000;
}

.sidebar {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #d29cfe), color-stop(100%, #8a78ff));
  background-image: -webkit-linear-gradient(#d29cfe, #8a78ff);
  background-image: -moz-linear-gradient(#d29cfe, #8a78ff);
  background-image: -o-linear-gradient(#d29cfe, #8a78ff);
  background-image: linear-gradient(#d29cfe, #8a78ff);
  position: relative;
}
.sidebar > li {
  font-size: 1.5rem;
}
.sidebar > li:hover ul {
  display: inline;
  position: absolute;
  left: 235px;
}
.sidebar li {
  padding: 5px 15px;
  margin: 0 15px;
  border-bottom: 1px solid #6728c1;
}
.sidebar li:last-child {
  border: none;
}
.sidebar li:hover {
  border: 1px solid #6728c1;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
.sidebar ul {
  display: none;
  background: #b6aaff;
  background-image: url(imgs/arrow.png);
  background-repeat: no-repeat;
  background-position: 10px 10px;
}
