body {
	background-color: #ccc;
}

#console {
	color: #d1cdcd;
	height: 500px;
	width: 80%;
	margin: 50px auto;
	padding: 20px 30px;
	background-color: black;
	border-radius: 10px;
	overflow-y: scroll;
}